{% extends 'base.html' %}

{% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-4">About Plantpedia</h1>
                    <p class="lead">Welcome to Plantpedia, your ultimate destination for all things green and growing! Our passion for plants extends beyond the ordinary, driving us to create a vibrant community of plant enthusiasts from around the world.</p>
                    <p class="lead">At Plantpedia, we believe that plants have the power to transform lives, enriching our homes, our communities, and our planet. With a shared commitment to sustainability and stewardship, we invite you to join us on a journey of discovery and growth.</p>
                    <p class="lead">Explore our extensive database of plant profiles, discover expert gardening advice, and connect with fellow enthusiasts who share your love for all things botanical. Together, let's cultivate a greener, more beautiful world, one plant at a time!</p>
                </div>
                <div class="col-lg-6">
                    <img src="../../data/data/about.jpeg" class="img-fluid rounded mt-5" alt="About Us Image">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

