{% extends 'base.html' %}

{% block content %}

    <div class="container w-75 m-auto">
        <h1 style="color: #00563FFF" class="w-50 text-center fw-bold text-outline my-3">Add a new plant</h1>
        <div class="w-75 m-auto shadow-lg bg-light rounded p-5">

            <form method="POST" action="{% url 'add_plant' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div class="d-flex justify-content-between"> <!-- Use Bootstrap flex utilities -->
                    <a href="{% url 'plants' %}" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
{#                <button type="submit" class="btn btn-success">Save</button>#}
{#                <a href="{% url 'plants' %}" class="btn btn-secondary">Cancel</a>#}
            </form>

        </div>
    </div>

{% endblock %}