{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <h1 class="display-4">Welcome to Plantpedia</h1>
            <p class="lead">Your ultimate guide to plants</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
            <img src="https://media.timeout.com/images/105500684/750/422/image.jpg" class="img-fluid" alt="Plants">
        </div>
        <div class="col-md-6">
            <h2>Discover a World of Plants</h2>
            <p>Explore thousands of plants from around the world. From succulents to tropical flowers, we've got it all.</p>
            <a href="{% url 'plants' %}" class="btn btn-success" style="opacity: 0.7">Browse Plants</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Add Your Own Plants</h2>
            <p>Got a green thumb? Share your favorite plants with the world by adding them to our database.</p>
            {% if user.is_authenticated %}
                <a href="{% url 'add_plant' %}" class="btn btn-outline-success" style="opacity: 0.7">Add a Plant</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-success" style="opacity: 0.7">Add a Plant</a>
            {% endif %}
        </div>
        <div class="col-md-6 mb-5">
            <img src="https://cdn.icon-icons.com/icons2/1875/PNG/512/additem_120286.png" class="img-fluid" alt="Add Plant" style="height: 250px">
        </div>
    </div>
    {% if not user.is_authenticated %}
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h2>Get Started Today!</h2>
            <p>Join our community of plant enthusiasts and start exploring, learning, and sharing.</p>
            <a href="{% url 'register' %}" class="btn btn-dark btn-lg">Sign Up</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
