{% extends 'base.html' %}
{% block content %}
    <style>
        /* Style to ensure cards have the same height */
        .card {
            height: 100%;
        }
        .card-body {
            display: flex;
            flex-direction: column;
        }
    </style>
    <div class="container" >
        <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
            <div style="flex: 1;"> <!-- Placeholder for spacing -->
            </div>
            <h1 class="mb-0 text-center" style="flex: 2; color: #00563f; font-weight: bold;">All Plants</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'add_plant' %}" class="btn btn-outline-success btn-sm" style="flex: 1; opacity: 0.7;">
                    Add New Plant
                </a>
            {% else %}
                <div style="flex: 1;"> <!-- Placeholder for spacing -->
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% for p in plants %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="max-width: 25rem;">
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{ p.image.url }}" height="305rem"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.name }}</h5>
                            <i><p class="card-text" style="font-size: small">Scientific
                                name: {{ p.scientific_name }}</p></i>
                            <p class="card-text">{{ p.description |slice:":170" }}...</p>
                            <p class="card-text" style="display: flex">
                                <small class="text-muted pt-2" style="width: 70%">Created
                                    by {{ p.user.get_full_name }}</small>
                            </p>
                            <div class="mt-auto">
                                <a href="{% url 'details' p.id %}" type="button" class="btn btn-outline-dark">See
                                More</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}